body {
    background-color: white;
}
h1 {
    color: white;
    background-color: rgba(2, 69, 252, 0.712);
    text-align: center;
    float: left;
    height: 800px;
    width: 150px;
    margin: -20px 0 0 0;
    line-height: 500px;
}
.zero {
    text-indent:20px;
    margin: 50px 0 0 0;
}